.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/
# RStudio junk
.Rproj.user/
.Rhistory
.RData

# Old project files we don't want on GitHub
VultureProject.Rproj
VultureProject.qmd
VultureProject.html

VultureAnalysis.html
*.html
*.pdf
*.docx
*.log
*.aux
*.out
*.toc
*.synctex.gz
